<mat-tab-group>
        <mat-tab label="SES">
                <div class="tab-content">
                        South East Solutions are a leading corporate surveillance company who approached 32 Blue for a 
                        automated solution to reduce time spent analysing videos. Some specific requirements
                        meant off the shelf commercial software was not appropriate. After assessing the requirements it became clear that application performance
                        was particularly important and to that end a proof of concept was sucessfully built to establish speed metrics.<br/><br/>
                        The production application was then built going live in Q2 2017 and since then has performed without incident saving many man hours. 
                        An ability to capture output missed when the process was manually undertaken has also been demonstrated. <br/><br/>

                        A quote from Chris Mills (Owner and Managing Director): "We are delighted with the final product which is now an important part 
                        of our Business Operation. Communication was excellent throughout the project - unusually so for an IT company."

                        
                </div>
        </mat-tab>
</mat-tab-group>