<mat-tab-group>
        <mat-tab label="SES">
                <div class="tab-content">
                        South East Solutions, a leading corporate surveillance company, approached 32 Blue for an 
                        automated solution to reduce time spent analysing videos. Some specific requirements
                        meant off the shelf commercial software was not appropriate.<br/><br/>
                        It became clear during project initiation that application performance
                        was particularly important and to that end a proof of concept was sucessfully built to establish speed metrics.<br/><br/>
                        The production application went live in Q2 2017 and since then has performed without incident saving many man hours of effort. 
                        An ability to capture events missed when the process was manually undertaken has also been demonstrated. <br/><br/>
                        A quote from Chris Mills (Owner and Managing Director): "We are delighted with the final product which is now an important part 
                        of our Business Operation. 
                        Dealing with IT companies has always been a challenge however in this case excellent communications were maintained throughout the project."     
                </div>
        </mat-tab>
</mat-tab-group>