<mat-tab-group>
    <mat-tab label="32 Blue">
        <div class="tab-content">
            The limited company was formed in 2017 by Richard Baker, BSc(Hons), Prince 2 practitioner and ITIL expert. 
            Richard has worked in IT for 20 years in both Blue Chip and SME organisations most recently as Head of Operations. 
            <br/>
            <br/>
            The characteristics that set 32 Blue apart are:<br/> 
            <ul>
                <li>Use of enterpise standard open-source technology</li>
                <li>Customer engagement is key</li>
                <li>Solutions must not be just functionally rich but must also be responsive, available, and trouble free allowing for satisfied and effective users</li>
                <li>Quality is vital</li>
                <li>A transparent cost and delivery model with appropriate project management</li>
            </ul>
        </div>
    </mat-tab>
</mat-tab-group>