<mat-tab-group>
        <mat-tab label="Dynamic">
                <div class="tab-content">
                        Show large nested table of data<br/><br/>

                        and more
                </div>
        </mat-tab>
        <mat-tab label="Data">
                <div class="tab-content">
                        Show large nested table of data<br/><br/>
                        Show graphs

                        and more
                </div>
        </mat-tab>
</mat-tab-group>