<mat-tab-group>
        <mat-tab label="Overview">
        `       <div class="tab-content">
                        Selecting the 'Airports' tab will demonstrate sample data being retreived from a database on the cloud server.<br/><br/>
                        By default airports in the UK are listed. Use the dropdown to select another country (e.g Ukraine) noting fast response times resulting from the lightweight architecture. <br/><br/>
                        In reality this is an example of poor design as far too much data can be returned. For example selecting the United States results in a list of circa 5000 records. An optimised search mechansim is a better solution. However for demonstration purposes all 5000 records will be presented albeit with a slower response time (circa 10 seconds on 4G network connection).<br/><br/>
                </div>
        </mat-tab>
        <mat-tab label="Airports">
                <div class="tab-content">
                        <div align='center'>
                                <mat-form-field>
                                        <mat-select (MatSelectChange)="callAirportsService()" placeholder="Country" [(ngModel)]='selectedCountry'(ngModelChange)="countryChange()">
                                                <mat-option *ngFor="let country of getCountries()" value={{country.code}}>
                                                        {{ country.name }}
                                                </mat-option>
                                        </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                        <input matInput (keyup)="applyIcaoFilter($event.target.value)" placeholder="ICAO/Name Filter">
                                </mat-form-field>
                              
                                <mat-table #table [dataSource]="dataSource">
                              
                                  <!-- icao Column -->
                                  <ng-container matColumnDef="icao">
                                    <mat-header-cell *matHeaderCellDef> ICAO </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.icao}} </mat-cell>
                                  </ng-container>
                              
                                  <!-- Name Column -->
                                  <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                                  </ng-container>
                              
                                  <!-- City Column -->
                                  <ng-container matColumnDef="city">
                                    <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
                                  </ng-container>
                              
                                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                </mat-table>
                              </div>
                </div>
        </mat-tab>
</mat-tab-group>