@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'my-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.my-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($my-theme);
}

/* This fills the remaining space, by using flexbox. */ 
/* Every toolbar row uses a flexbox row layout. */
.fill-remaining-space {
    flex: 0 1 100%;
  }

.flex_container {
  display: flex;
  width: 100%;
}

.fill-content {
  padding-left: 100px;
  padding-top: 00px;
  padding-right: 100px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
}

.button-width {
width: 120px
}

.tab-content {
  padding: 16px;
}

html, body, material-app, mat-sidenav-container, .my-content {
margin: 0;
width: 100%;
height: 100%;
}