<mat-tab-group>
        <mat-tab label="Process">
                <div class="tab-content">
                        The methodology used is both lightweight and flexible (dependant on customer needs and project complexity). It can consist of the following stages potentially broken into phases (or 'Sprints');<br/><br/>
                        <ol>
                                <li>Definition of Objectives detailed in a simple document that describes success for the project in business terms.</li>
                                <li>Production of 'Use-Cases', i.e 'who will be using the application and for what purpose'</li>
                                <li>Data analysis, including bringing any existing data sources into the solution</li>
                                <li>A 'Wire-frame' protype showing screen flows with example data </li>
                                <li>Build and Test</li>
                                <li>Customer Acceptance</li>
                        </ol>   
                </div>
        </mat-tab>
        <mat-tab label="Documentation">
                <div class="tab-content">
                    Professionally written documentation is a given.<br/><br/>
                    The set of documents can include Functional Specifications / Mock-ups, User Guides, Operational Procedures, Data Definitions.<br><br/>
                    Format can be PDF or alternatively User Guides can be created with the application as on-line help.  
                </div>
        </mat-tab>
        <mat-tab label="Commercials">
                <div class="tab-content">
                        Simple hourly rates are available along with quoted fixed cost. <br/><br/>
                        The prefered commercial arrangement is a reduced upfront cost with an ongoing usage based charge. This ensures both parties have a stake in the success of the project.              
                </div>
        </mat-tab>
</mat-tab-group>