<mat-tab-group class="demo-tab-group">
        <mat-tab label="Database">
                <div class="tab-content">
                        32 Blue by default will use an open source MySql database (or a derivative) located on the Amazon cloud.
                </div>
        </mat-tab>
        <mat-tab label="Web">
                <div class="tab-content">
                        <br/><br/>
                        32 Blue utilises a Single Page Architecture (SPA) built with the Angular framework allowing for rich, responsive, and complex web applications.<br/><br/>   
                        Presentation is kept separate from business logic and re-useable RESTful data services are utilised to connect to the database.<br/><br/>
                        Node.js is the dominant open source Javascript runtime for servers and has become an industry standard for hosting web applications and services.
                </div>
        </mat-tab>
        <mat-tab label="Authentication">
                <div class="tab-content">
                        A secure bespoked password mechanism with users defined into roles with individual permissions can built into the applicaton.<br/><br/>
                        In addition with the web server running in Node.js it is possible to integrate with 3rd party authentication services like Google or Facebook.
                </div>
        </mat-tab>
        <mat-tab label="Hosting">
                <div class="tab-content">
                        Applications are hosted on the Amazon cloud allowing for high availability and performance<br/><br/>
                        This removes the requirement for any local software or hardware making the solution low cost and low maintenance.
                </div>
        </mat-tab>
</mat-tab-group>
                        
