<mat-tab-group>
        <mat-tab label="Database">
                <div class="tab-content">
                        32 Blue applications are built to operate with an open source MySql database (or a derivative) located on the Amazon cloud.<br/><br/>
                        Users with appropriate permissions and knowledge can directly access the database to run queries and extracts.  

                </div>
        </mat-tab>
        <mat-tab label="Web">
                <div class="tab-content">
                        <br/><br/>
                        A 'Single Page Architecture' (SPA) built with the Angular framework allows for rich, responsive, and complex web applications.<br/><br/>   
                        Presentation is kept separate from business logic and re-useable RESTful data services are utilised to connect to the database.<br/><br/>
                        Node.js is the dominant open source Javascript runtime for servers and has become an industry standard for hosting web applications and services.<br/><br/>
                        A secure password mechanism with users defined into roles can built into an applicaton.
                        Alternatively it is possible to integrate with 3rd party authentication services like Google or Facebook.
                
                </div>
        </mat-tab>
        <mat-tab label="Hosting">
                <div class="tab-content">
                        Deployed applications are hosted on Amazon cloud (at a minimal ongoing cost) bringing large enterprise levels of 
                        availability, performance and operational support including back-ups.<br/><br/>
                        Users of 32 Blue applications do not require to host any hardware. All that is required is a PC or tablet with internet access. 
                        Similarly there are no software requirements other than a modern Internet Browser (e.g Chrome, Internet Explorer, Edge, or Firefox).<br/><br/>
                </div>
        </mat-tab>
</mat-tab-group>
                        
