<mat-toolbar color="primary">
    <span>32 Blue</span>
    <span class="fill-remaining-space"></span>
    <span><img src="./assets/32BlueLogo.png" height="50" align="bottom"></span>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink = "home"> Home </button>
        <button mat-menu-item routerLink = "company"> Company </button>
        <button mat-menu-item routerLink = "services"> Services </button>
        <button mat-menu-item routerLink = "technology"> Technology </button>
        <button mat-menu-item routerLink = "method"> Method </button>
        <button mat-menu-item routerLink = "examples"> Examples </button>
        <button mat-menu-item routerLink = "references"> References </button>
        <button mat-menu-item routerLink = "contact"> Contact </button>
</mat-menu>
<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>menu</mat-icon>
</button>
<!-- primary content -->
  <div class="fill-content"><router-outlet></router-outlet></div>


