<mat-toolbar color="primary" class="toolbar">
    <span class="unSupportedScreenSizes">
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <span class="fill-remaining-space">32 Blue</span>
    <span><img src="./assets/32BlueLogo.png" height="50" align="right"></span>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink = "home"> Home </button>
        <button mat-menu-item routerLink = "company"> Company </button>
        <button mat-menu-item routerLink = "services"> Services </button>
        <button mat-menu-item routerLink = "technology"> Technology </button>
        <button mat-menu-item routerLink = "method"> Method </button>
        <button mat-menu-item routerLink = "examples"> Examples </button>
        <button mat-menu-item routerLink = "references"> References </button>
        <button mat-menu-item routerLink = "contact"> Contact </button>
</mat-menu>
<!-- primary content -->
  <div class="fill-content" class="unSupportedScreenSizes"><router-outlet></router-outlet></div>
  <div class="supportedScreenSizes">This web page is not suitable for viewing on a screen width less than 600 pixels in width</div>


