<mat-toolbar color="primary">
    <span>32 Blue</span>
    <span class="fill-remaining-space"></span>
    <span>Logo</span>
</mat-toolbar>
<mat-sidenav-container>
<mat-sidenav mode="side" opened="true" disableClose>
  <!-- sidenav content -->
  <div>
    <a mat-button class="button-width" routerLink = "home">Home</a><br/>
    <a mat-button class="button-width" routerLink = "company">Company</a><br/>
    <a mat-button class="button-width">Services</a><br/>
    <a mat-button class="button-width">References</a><br/>
  </div>
</mat-sidenav>

<!-- primary content -->
<div class="my-content"><router-outlet></router-outlet></div>
</mat-sidenav-container>


