<mat-tab-group class="demo-tab-group">
    <mat-tab label="Analysis">
        <div class="tab-content">
            A structured approach is used to identify what is required of an application to make it a success. <br/><br/>
            Initially it is gaining an understanding of the current business model and processes and crucially defining a problem statement or opportunity that requires addressing, 
            whether that be related to increased automation, data quality, process governance, management control or any other reason.<br/><br/>
            Once a target business model is agreed the functional and data analysis takes place leading to a mock-up with working flows and links. 
        </div>
    </mat-tab>
    <mat-tab label="Database">
        <div class="tab-content">
            Strong database design is key to ensuring a clearly defined structure that avoids duplicity ('one version of truth'), ensures consistancy, 
            is performant, and can be readily interrogated. <br/><br/>
            Data migration from existing systems can be undertaken whether a relational database or text files / spreadsheets or any other source. <br/><br/>
            Data cleaning and transformation is also possible.
        </div>
    </mat-tab>
    <mat-tab label="Web">
        <div class="tab-content">
            Web applications can become inordinately complex if not built and designed correctly. 
            32 Blue uses the most modern framework available allowing for levels of functionality and complexity 
            that would have been considered impossible without a serious budget only a few years ago.<br/><br/>
            Use of industry standard Google based components ensures a slick user experience.    
        </div>
    </mat-tab>
    <mat-tab label="Documentation">
        <div class="tab-content">
            Professionally written documentation is a given.<br/><br/>
            The set of documents can include Functional Specifications / Mock-ups, User Guides, Operational Procedures, Data Definitions as required.<br><br/>
            Media can be PDF or alternatively User Guides can be created with the application as on-line help.  
        </div>
    </mat-tab>
    <mat-tab label="Support">
        <div class="tab-content">
            Deployed applications are hosted on Amazon cloud (at a minimal ongoing cost) bringing large enterprise levels of 
            availability, performance and operational support including back-ups.<br/><br/>
            Users of 32 Blue applications do not require to host any hardware other than the PC or tablet with internet access. 
            Similarly there are no software requirements other than a modern Internet Browser (e.g Chrome, Internet Explorer, Edge, or Firefox)  
        </div>
    </mat-tab>
    <mat-tab label="Mobile ">
        <div class="tab-content">
            Blue 32 applications are designed to operate on PCs and tablets. Screen sizes of mobile phones are generally too small for 
            functionality rich solutions. <br/><br/>
            However the design philosophy allows for mobile apps to re-use the same 'data services' as PC / tablet solutions and 32Blue can deliver both 
            Android and iOS apps. These apps can also be built to work offline. 
        </div>
    </mat-tab>
</mat-tab-group>