<mat-tab-group class="demo-tab-group">
    <mat-tab label="Business Analysis">
        <div class="tab-content">
            Analysis
        </div>
    </mat-tab>
    <mat-tab label="Database">
        <div class="tab-content">
            Database Design
        </div>
    </mat-tab>
    <mat-tab label="Application">
        <div class="tab-content">
            Build
        </div>
    </mat-tab>
    <mat-tab label="Data Migration">
        <div class="tab-content">
            Data Migration
        </div>
    </mat-tab>
    <mat-tab label="Documentation">
        <div class="tab-content">
            Documentation
        </div>
    </mat-tab>
    <mat-tab label="Support">
        <div class="tab-content">
            Support
        </div>
    </mat-tab>
    <mat-tab label="Mobile ">
        <div class="tab-content">
            Apps
        </div>
    </mat-tab>
</mat-tab-group>