<mat-tab-group>
    <mat-tab label="Analysis">
        <div class="tab-content">
            A structured approach is used to identify what is required of an application to make it a success. <br/><br/>
            Initially it is gaining an understanding of the current business model and processes and crucially defining a problem statement or opportunity that requires addressing, 
            whether that be related to increased automation, data quality, process governance, management control or any other reason.<br/><br/>
            Once a target business model is agreed the functional and data analysis takes place leading to a mock-up with working flows and links. 
        </div>
    </mat-tab>
    <mat-tab label="Database">
        <div class="tab-content">
            Strong database design is key to ensuring a clearly defined structure that avoids duplicity ('one version of truth'), ensures consistancy, 
            is performant, and can be readily interrogated. <br/><br/>
            Data migration from existing systems can be undertaken whether a relational database or text files / spreadsheets or any other source. <br/><br/>
            Data cleaning and transformation is also possible.
        </div>
    </mat-tab>
    <mat-tab label="Web">
        <div class="tab-content">
            Web applications can become inordinately complex if not built and designed correctly. 
            32 Blue uses the most modern framework available allowing for levels of functionality and complexity 
            that would have been considered impossible without a serious budget only a few years ago.<br/><br/>
            Use of industry standard Google based components ensures a slick user experience.    
        </div>
    </mat-tab>
</mat-tab-group>