<mat-tab-group>
        <mat-tab label="About">
            <div class="tab-content">
                Builder of cost effective, reliable applications for the SME market:
                
                    <ul>
                        <li>Designed to run in a browser using the latest technologies</li>
                        <li>Cloud based</li>
                        <li>Optimised for PC and tablet</li>
                        <li>Highly functional and data driven</li>
                        <li>Secure</li>
                        <li>Without software installation and licensing costs</li>
                        <li>Capable of supporting any number of users simultaneously</li>
                        <li>Optimised for speed and responsiveness allowing for a great user experience</li>
                    </ul>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </mat-tab>
        <mat-tab label="Site">
            <div class="tab-content">
                This site has been created by 32 Blue and is hosted on the Amazon Cloud.<br/><br/>
                Please use the left hand menu to navigate and note the speed of response. 
                Choosing the 'examples' menu option deomstrates retreiving data from the server.<br/><br/>
                The web page is designed to view on a PC or tablet.<br/><br/> 
            </div>
        </mat-tab>
</mat-tab-group>
    
