<div>
    32 Blue delivers cost effective, reliable IT solutions for the SME market. Applications that are;

    <ul>
        <li>Designed to run in a browser using the latest technologies</li>
        <li>Cloud based</li>
        <li>Mobile device and PC capable</li>
        <li>Highly functional and data driven</li>
        <li>Secure</li>
        <li>Without software installation and licensing costs</li>
        <li>Capable of supporting any number of users simultaneously</li>
        <li>Optimised for speed and responsiveness allowing for a great user experience</li>
    </ul>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>