<mat-tab-group>
        <mat-tab label="About">
            <div class="tab-content">
                32 Blue build cost effective, reliable cloud applications specifically for the SME market.<br/><br/>
                A typical scenario might be to port an existing Access or Excel application which is limited by performance, accessability, or complexity.<br><br>
                Key features of 32 Blue applications are; 

                        <ul>
                            <li>Compatable with all modern browsers and using the latest web technologies as designed by Google.</li>
                            <li>Hosted in the Amazon Cloud</li>
                            <li>Usable on both PC and tablets</li>
                            <li>Data driven and custom functionality capable </li>
                            <li>Secure</li>
                            <li>Without software installation and licensing costs</li>
                            <li>Capable of supporting any number of users simultaneously</li>
                            <li>Optimised for speed and responsiveness allowing for a great user experience</li>
                        </ul>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </mat-tab>
        <mat-tab label="Site">
            <div class="tab-content">
                This site has been created by 32 Blue and is hosted on the Amazon Cloud.
                Branding has been deliberately kept to a minimum for a simple, clean, easy to use User Interface.<br/><br/>
                Please use the menu accessed on the top left of the screen for navigation (noting the speed of response). 
                Choosing the 'Examples' menu option demonstrates retreiving data from the server.<br/><br/>
                The web page is designed to view on a PC or tablet.<br/><br/> 
            </div>
        </mat-tab>
</mat-tab-group>
    
